[Unit]
Description=RHDE Observability Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/opentelemetry-collector --config /etc/opentelemetry-collector-rhde-config/config.yaml
User=rhde-observability
Group=rhde-observability
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

# TODO run this service with a user that is defined in the .spec file
